body {
  max-width: 1200px;
  font-family: 'Merriweather', helvetica, serif;
  font-size: 10px;
  margin: 0px auto;
}

header {
  margin: 0px auto;
  margin-top: 25px;
  width: 650px;
  display: flex;
  flex-wrap: wrap;
}

h1 {
  font-family: 'Staatliches', sans-serif;
  text-align: center;
  letter-spacing: 2px;
  font-size: 4.2rem;
  margin: 0 auto;
  flex: 2 300px;
  padding-top: 70px;
  padding-left: 30px;
}

header img {
  width: 200px;
  flex: 0 200px;
}

header nav {
  flex: 3 400px;
  justify-content: center;
  display: inline-flex;
  margin: 20px 0px;
}

nav ul {
  padding: 0px;
}

header nav li {
  display: inline;
  padding: 10px;
  list-style: none;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  margin: 0 10px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: 'Staatliches', sans-serif;
  color: rgb(0, 0, 0);
}

nav a {
  text-decoration: none;
}

article {
  width: 640px;
  margin: 0 auto;
}

h2 {
  font-family: 'Staatliches', sans-serif;
  letter-spacing: 1px;
  font-size: 2.5rem;
  margin: 0px;
  padding-left: 165px;
}

article p {
  margin: 0px;
  font-size: 0.9rem;
  padding-bottom: 25px;
  line-height: 1.5;
}

.about-me {
  width: 175px;
  border-radius: 50%;
  position: relative;
  top: 45px;
}

.family-photo {
  width: 225px;
  border-radius: 5%;
  position: relative;
  left: 30%;
  top: 10%;
}

h3 {
  font-family: 'Staatliches', sans-serif;
  letter-spacing: 1px;
  font-size: 2.0rem;
  margin: 0px;
  text-align: center;
}

.full-img {
  position: relative;
  display: block;
  width: 640px;
  height: 480px;
  border: 1px solid rgb(0, 0, 0);
  margin: 1px 0px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: pointer;
}

footer {
  width: 640px;
  margin: 5px auto;
  display: flex;
}

footer nav {
  flex: 2;
}

footer nav li {
  padding: 5px;
  width: 100px;
  list-style: none;
  border: 1px solid rgb(0, 0, 0);
  text-align: center;
  margin: 0 auto;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-family: 'Staatliches', sans-serif;
  color: rgb(0, 0, 0);
}

footer a {

}

h4 {
  font-family: 'Staatliches', sans-serif;
  letter-spacing: 1px;
  font-size: 1.6rem;
  margin: 0px;
  text-align: center;
}

form {
  margin: 0 auto;
  width: 350px;
  padding: 0 auto;
}

footer ul {
  list-style: none;
}
input,
textarea {
  font-family: 'Merriweather', helvetica, serif;
  font-size: 10px;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 0, 0);
}

textarea {
  max-height: 7em;
  max-width: 200px;
}

label {
  padding: 10px 0px 10px 0px;
  display: inline-block;
  width: 50px;
  text-align: right;
}

.button {
  padding: 0px 0px 10px 110px;
